---
layout: default
---


<body>
    <header id="header">
        <div class="inner">
            <a href="/" class="logo">Geometric Inspired Watercolors</a>
            <nav id="nav">
                <a href="/">Home</a>
                <a href="/bio">Bio</a>
                <a href="/blog">Blog</a>
            </nav>
        </div>
    </header>
    <div>
        <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"c36b2f1aabc852ef549f8c9cf","lid":"dc9c968462"}) })</script>
    </div>
    
    {{ content }}
</body>
